<div class="sidebar">
  <div class="container sidebar-sticky">
    <img class="sidebar-image" src="/profile.jpg" />
    
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} 
        {{.}} 
      {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>
    
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item social">
        {{ with .Site.Params.social.twitter }}
        <a href="https://twitter.com/{{ . }}"><i class="fa fa-twitter fa-2x"></i></a>
        {{ end }}
        {{ with .Site.Params.social.github }}
        <a href="https://github.com/{{ . }}"><i class="fa fa-github fa-2x"></i></a>
        {{ end }}
        {{ with .Site.Params.social.linkedin_url }}
        <a href="https://{{ . }}"><i class="fa fa-linkedin fa-2x"></i></a>
        {{ end }}
        <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss fa-2x"></i></a>
      </li>
    </ul>
  </div>
</div>
